{% extends 'layout.html' %}
{% block container %}
<style>
    .about {
    font-weight: 500;
    color: #FDB33F;
    }
    .ikea2 .col-md-4{
        min-height: 180px;
    }.ikea h2, .ikea2 h2{
        color: #14365A;
    }small{
        margin-left:0px;
    }.jjj img{
        width: 50px !important;
        margin-right: 10px;
    }.jjj ul img{
        width: 25px !important;
    }.jjj span{
        color: #667085;
        font-size: 15px;
    }.jjj ul li{
        margin-bottom: 10px;
    }.col-md-6{
        margin-bottom: 20px;
    }
</style>
<div class="row container ikea" id="about" style="align-items: center;margin: auto;text-align: center;padding-top: 25px;">
    <small>ABOUT US</small>
    <h2>About the Company</h2>
    <span style="margin-bottom: 15px;">At Crosswater we strive to prioritise our core values over everything else. We're competitively priced, and above all else, believe in building strategic long-term relationships with our clients.</span>
</div>
<span id="value" ></span>
<br><br>
<div class="row container ikea2" style="align-items: center;margin: auto;text-align: center;padding-top: 25px;">
    <h2>Company Facts</h2>
    <span style="margin-bottom: 15px;">Our shared values keep us connected and guide us as one team.</span>
    
    <div class="row" style="margin-top: 50px;">
        <div class="col-md-4  wow fadeInUp" data-wow-delay="0.1s">
            <div style="display: grid;justify-content: center;text-align: center;">
                <img src="{{ url_for('static', filename='image/Featured icon.png') }}" style="width: 40px;margin: auto;"/>
                <b style="color:#101828;font-weight: 500;">Care about our team</b>
                <span style="color:#667085;font-size:13px">Understand what matters to our employees. Give them what they need to do their best work.</span>
            </div>
        </div>
        <div class="col-md-4  wow fadeInUp" data-wow-delay="0.2s">
            <div style="display: grid;justify-content: center;text-align: center;">
                <img src="{{ url_for('static', filename='image/Featured icon (1).png') }}" style="width: 40px;margin: auto;"/>
                <b style="color:#101828;font-weight: 500;">Be excellent to each other</b>
                <span style="color:#667085;font-size:13px">No games. No bullshit. We rely on our peers to improve. Be open, honest and kind.</span>
            </div>
        </div>
        <div class="col-md-4  wow fadeInUp" data-wow-delay="0.3s">
            <div style="display: grid;justify-content: center;text-align: center;">
                <img src="{{ url_for('static', filename='image/Featured icon (2).png') }}" style="width: 40px;margin: auto;"/>
                <b style="color:#101828;font-weight: 500;">Pride in what we do</b>
                <span style="color:#667085;font-size:13px">Value quality and integrity in everything we do. At all times. No exceptions.</span>
            </div>
        </div>
        <div class="col-md-4  wow fadeInUp" data-wow-delay="0.4s">
            <div style="display: grid;justify-content: center;text-align: center;">
                <img src="{{ url_for('static', filename='image/Featured icon (3).png') }}" style="width: 40px;margin: auto;"/>
                <b style="color:#101828;font-weight: 500;">Don't #!&$ the customer</b>
                <span style="color:#667085;font-size:13px">Understand customers' stated and unstated needs. Make them wildly successful.</span>
            </div>
        </div>
        <div class="col-md-4  wow fadeInUp" data-wow-delay="0.5s">
            <div style="display: grid;justify-content: center;text-align: center;">
                <img src="{{ url_for('static', filename='image/Featured icon (4).png') }}" style="width: 40px;margin: auto;"/>
                <b style="color:#101828;font-weight: 500;">Do the impossible</b>
                <span style="color:#667085;font-size:13px">Be energized by difficult problems. Revel in unknowns. Ask "Why?", but always question, "Why not?"</span>
            </div>
        </div>
        <div class="col-md-4  wow fadeInUp" data-wow-delay="0.6s">
            <div style="display: grid;justify-content: center;text-align: center;">
                <img src="{{ url_for('static', filename='image/Featured icon (5).png') }}" style="width: 40px;margin: auto;"/>
                <b style="color:#101828;font-weight: 500;">Sweat the small stuff</b>
                <span style="color:#667085;font-size:13px">We believe the best products come from the best attention to detail. Sweat the small stuff.</span>
            </div>
        </div>
    </div>
</div>
<br><br>
<div class="row container-fluid ikea2" style="align-items: center;margin: auto;text-align: center;padding-top: 25px;">
    <span style="margin-bottom: 15px;">From startups to the world’s largest companies</span>
    <div style="display: flex;flex-wrap: wrap;justify-content: space-evenly;">
        <div style="width: 200px;margin-bottom: 15px;">
            <img src="{{ url_for('static', filename='image/Company logo.png') }}" />
        </div>
        <div style="width: 200px;margin-bottom: 15px;">
            <img src="{{ url_for('static', filename='image/Company logo (1).png') }}" />
        </div>
        <div style="width: 200px;margin-bottom: 15px;">
            <img src="{{ url_for('static', filename='image/Company logo (2).png') }}" />
        </div>
        <div style="width: 200px;margin-bottom: 15px;">
            <img src="{{ url_for('static', filename='image/Company logo (3).png') }}" />
        </div>
        <div style="width: 200px;margin-bottom: 15px;">
            <img src="{{ url_for('static', filename='image/Company logo (4).png') }}" />
        </div>
    </div>
</div>
<br><br><br>

<div class="container-fluid ikea2"  style="align-items: center;margin:0;text-align: center;padding: 0;">
    <div class="row" style="margin: 0;align-items: center;">
        <div class="col-md-6 jjj" style="text-align: start;padding-left: 5%;">

            <img src="{{ url_for('static', filename='image/icon-check.svg') }}" />
            <h2 style="text-align: left;font-size: 26px;margin-top: 10px;">What we offer</h2>
            <span>Whether you have a team of 2 or 200, our shared team inboxes keep everyone on the same page and in the loop.</span>
            
            <ul style="margin-top: 25px;;">
                <li><img src="{{ url_for('static', filename='image/message.svg') }}" /><span>All features and premium support</span></li>
                <li><img src="{{ url_for('static', filename='image/message.svg') }}" /><span>All features and premium support</span></li>
                <li><img src="{{ url_for('static', filename='image/message.svg') }}" /><span>All features and premium support</span></li>
            </ul>
        </div>
        <div class="col-md-6" style="padding: 0;">
            <img src="{{ url_for('static', filename='image/about.png') }}" style="width: 100%;"/>
        </div>
    </div>
    <br><br>
    <div class="row" style="margin: 0;align-items: center;">
        
        <div class="col-md-6" style="padding: 0;">
            <img src="{{ url_for('static', filename='image/about.png') }}" style="width: 100%;"/>
        </div>
        <div class="col-md-6 jjj" id="main" style="text-align: start;padding-left: 5%;">

            <img src="{{ url_for('static', filename='image/icon-check.svg') }}" />
            <h2 style="text-align: left;font-size: 26px;margin-top: 10px;">Our main activities</h2>
            <span>Whether you have a team of 2 or 200, our shared team inboxes keep everyone on the same page and in the loop.</span>
            
            <ul style="margin-top: 25px;;">
                <li><img src="{{ url_for('static', filename='image/message.svg') }}" /><span>All features and premium support</span></li>
                <li><img src="{{ url_for('static', filename='image/message.svg') }}" /><span>All features and premium support</span></li>
                <li><img src="{{ url_for('static', filename='image/message.svg') }}" /><span>All features and premium support</span></li>
            </ul>
        </div>
    </div>
    <br><br>
    <div class="row" id="values" style="margin: 0;align-items: center;">
        <div class="col-md-6 jjj" style="text-align: start;padding-left: 5%;">

            <img src="{{ url_for('static', filename='image/icon-check.svg') }}" />
            <h2 style="text-align: left;font-size: 26px;margin-top: 10px;">Our core values</h2>
            <span>Whether you have a team of 2 or 200, our shared team inboxes keep everyone on the same page and in the loop.</span>
            
            <ul style="margin-top: 25px;;">
                <li><img src="{{ url_for('static', filename='image/message.svg') }}" /><span>All features and premium support</span></li>
                <li><img src="{{ url_for('static', filename='image/message.svg') }}" /><span>All features and premium support</span></li>
                <li><img src="{{ url_for('static', filename='image/message.svg') }}" /><span>All features and premium support</span></li>
            </ul>
        </div>
        <div class="col-md-6" style="padding: 0;">
            <img src="{{ url_for('static', filename='image/about.png') }}" style="width: 100%;"/>
        </div>
    </div>
    <br><br>
</div>

<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script>
    $('.nava b').click(function(){
        $('.nava b').removeClass('active');
        $(this).addClass('active');
        $('.bimbo').toggleClass('jj');
    })
</script>

{% endblock %}