{% extends 'layout.html' %}
{% block container %}
<style>
    .about {
    font-weight: 500;
    color: #FDB33F;
    }
    .ikea2 .col-md-4{
        min-height: 180px;
    }.ikea h2, .ikea2 h2{
        color: #14365A;
    }
</style>
<div class="row container ikea" id="about" style="align-items: center;margin: auto;text-align: center;padding-top: 25px;">
    <small>ABOUT US</small>
    <h2>About the Company</h2>
    <span style="margin-bottom: 15px;">Learn more about the company and the team behind it.</span>
</div>
<br><br>
<!-- The Organisation-->
<div class="row container ikea" id="organisation" style="align-items: center;margin: auto;">
    <div class="row" style="margin-bottom: 25px;">
        <div class="col-md-6 wow fadeInLeftBig" >
            <img src="{{ url_for('static', filename='image/Image (1).png') }}" style="width: 100%;border-radius: 20px;"/>
        </div>
        <div class="col-md-6 wow fadeInRightBig " data-wow-delay="0.3s"> 
            <br><br>
            <b style="color: #6941C6;">Journey</b>
            <h2 class="yiyo">We’re only just getting started on our journey</h2>
            <div class="row">
                <div class="kiok col-6"> 
                    <h1>400+</h1>
                    <span>Projects Completed</span>
                </div>
                <div class="kiok col-6"> 
                    <h1>600%</h1>
                    <span>Return on investment</span>
                </div>
                <div class="kiok col-6"> 
                    <h1>10k</h1>
                    <span>Global downloads</span>
                </div>
                <div class="kiok col-6"> 
                    <h1>200+</h1>
                    <span>5-star reviews</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row container-fluid ikea2" id="values" style="align-items: center;margin: auto;text-align: center;padding-top: 25px;">
    <span style="margin-bottom: 15px;">From startups to the world’s largest companies</span>
    <div style="display: flex;flex-wrap: wrap;justify-content: space-evenly;">
        <div style="width: 200px;margin-bottom: 15px;">
            <img src="{{ url_for('static', filename='image/Company logo.png') }}" />
        </div>
        <div style="width: 200px;margin-bottom: 15px;">
            <img src="{{ url_for('static', filename='image/Company logo (1).png') }}" />
        </div>
        <div style="width: 200px;margin-bottom: 15px;">
            <img src="{{ url_for('static', filename='image/Company logo (2).png') }}" />
        </div>
        <div style="width: 200px;margin-bottom: 15px;">
            <img src="{{ url_for('static', filename='image/Company logo (3).png') }}" />
        </div>
        <div style="width: 200px;margin-bottom: 15px;">
            <img src="{{ url_for('static', filename='image/Company logo (4).png') }}" />
        </div>
    </div>
</div>
<br><br><br>
<span id="value" ></span>
<br><br>
<div class="row container ikea2" style="align-items: center;margin: auto;text-align: center;padding-top: 25px;">
    <small>OUR VALUES</small>
    <h2>How we work at Crosswater Project</h2>
    <span style="margin-bottom: 15px;">Our shared values keep us connected and guide us as one team.</span>
    
    <div class="row" style="margin-top: 50px;">
        <div class="col-md-4  wow fadeInUp" data-wow-delay="0.1s">
            <div style="display: grid;justify-content: center;text-align: center;">
                <img src="{{ url_for('static', filename='image/Featured icon.png') }}" style="width: 40px;margin: auto;"/>
                <b style="color:#101828;font-weight: 500;">Care about our team</b>
                <span style="color:#667085;font-size:13px">Understand what matters to our employees. Give them what they need to do their best work.</span>
            </div>
        </div>
        <div class="col-md-4  wow fadeInUp" data-wow-delay="0.2s">
            <div style="display: grid;justify-content: center;text-align: center;">
                <img src="{{ url_for('static', filename='image/Featured icon (1).png') }}" style="width: 40px;margin: auto;"/>
                <b style="color:#101828;font-weight: 500;">Be excellent to each other</b>
                <span style="color:#667085;font-size:13px">No games. No bullshit. We rely on our peers to improve. Be open, honest and kind.</span>
            </div>
        </div>
        <div class="col-md-4  wow fadeInUp" data-wow-delay="0.3s">
            <div style="display: grid;justify-content: center;text-align: center;">
                <img src="{{ url_for('static', filename='image/Featured icon (2).png') }}" style="width: 40px;margin: auto;"/>
                <b style="color:#101828;font-weight: 500;">Pride in what we do</b>
                <span style="color:#667085;font-size:13px">Value quality and integrity in everything we do. At all times. No exceptions.</span>
            </div>
        </div>
        <div class="col-md-4  wow fadeInUp" data-wow-delay="0.4s">
            <div style="display: grid;justify-content: center;text-align: center;">
                <img src="{{ url_for('static', filename='image/Featured icon (3).png') }}" style="width: 40px;margin: auto;"/>
                <b style="color:#101828;font-weight: 500;">Don't #!&$ the customer</b>
                <span style="color:#667085;font-size:13px">Understand customers' stated and unstated needs. Make them wildly successful.</span>
            </div>
        </div>
        <div class="col-md-4  wow fadeInUp" data-wow-delay="0.5s">
            <div style="display: grid;justify-content: center;text-align: center;">
                <img src="{{ url_for('static', filename='image/Featured icon (4).png') }}" style="width: 40px;margin: auto;"/>
                <b style="color:#101828;font-weight: 500;">Do the impossible</b>
                <span style="color:#667085;font-size:13px">Be energized by difficult problems. Revel in unknowns. Ask "Why?", but always question, "Why not?"</span>
            </div>
        </div>
        <div class="col-md-4  wow fadeInUp" data-wow-delay="0.6s">
            <div style="display: grid;justify-content: center;text-align: center;">
                <img src="{{ url_for('static', filename='image/Featured icon (5).png') }}" style="width: 40px;margin: auto;"/>
                <b style="color:#101828;font-weight: 500;">Sweat the small stuff</b>
                <span style="color:#667085;font-size:13px">We believe the best products come from the best attention to detail. Sweat the small stuff.</span>
            </div>
        </div>
    </div>
</div>
<br><br>
<div class="row container ikea2" id="values" style="align-items: center;margin: auto;text-align: center;padding-top: 25px;">
    <b style="color: #6941C6;">Team</b>
    <h2>Meet our team</h2>
    <span style="margin-bottom: 15px;">Our philosophy is simple — hire a team of diverse, passionate people and foster a culture that empowers you to do you best work.</span>
    
    <div class="row bibo" style="margin-top: 50px;">
        <div class="col-md-3  wow fadeInUp" data-wow-delay="0.1s">
            <div style="display: grid;justify-content: center;text-align: center;background-color:#F9FAFB;border-radius: 15px;min-height: 250px;">
                <img src="{{ url_for('static', filename='image/Avatar.png') }}" style="width: 60px;margin: auto;"/>
                <b style="color:#101828;font-weight: 500;">Olivia Rhye</b>
                <span style="color:#6941C6;font-size:15px">Founder & CEO</span>
                <span style="color:#667085;font-size:14px">Former co-founder of Opendoor. Early staff at Spotify and Clearbit.</span>
                <br>
                <div class="grouper">
                    <a href="#"><img src="{{ url_for('static', filename='image/Social icon.svg') }}" /></a>
                    <a href="#"><img src="{{ url_for('static', filename='image/Social icon (2).svg') }}" /></a>
                    <a href="#"><img src="{{ url_for('static', filename='image/Social icon (1).svg') }}" /></a>
                </div>
            </div>
        </div>
        <div class="col-md-3  wow fadeInUp" data-wow-delay="0.2s">
            <div style="display: grid;justify-content: center;text-align: center;background-color:#F9FAFB;border-radius: 15px;min-height: 250px;">
                <img src="{{ url_for('static', filename='image/Avatar.png') }}" style="width: 60px;margin: auto;"/>
                <b style="color:#101828;font-weight: 500;">Olivia Rhye</b>
                <span style="color:#6941C6;font-size:15px">Founder & CEO</span>
                <span style="color:#667085;font-size:14px">Former co-founder of Opendoor. Early staff at Spotify and Clearbit.</span>
                <br>
                <div class="grouper">
                    <a href="#"><img src="{{ url_for('static', filename='image/Social icon.svg') }}" /></a>
                    <a href="#"><img src="{{ url_for('static', filename='image/Social icon (2).svg') }}" /></a>
                    <a href="#"><img src="{{ url_for('static', filename='image/Social icon (1).svg') }}" /></a>
                </div>
            </div>
        </div>
        <div class="col-md-3  wow fadeInUp" data-wow-delay="0.3s">
            <div style="display: grid;justify-content: center;text-align: center;background-color:#F9FAFB;border-radius: 15px;min-height: 250px;">
                <img src="{{ url_for('static', filename='image/Avatar.png') }}" style="width: 60px;margin: auto;"/>
                <b style="color:#101828;font-weight: 500;">Olivia Rhye</b>
                <span style="color:#6941C6;font-size:15px">Founder & CEO</span>
                <span style="color:#667085;font-size:14px">Former co-founder of Opendoor. Early staff at Spotify and Clearbit.</span>
                <br>
                <div class="grouper">
                    <a href="#"><img src="{{ url_for('static', filename='image/Social icon.svg') }}" /></a>
                    <a href="#"><img src="{{ url_for('static', filename='image/Social icon (2).svg') }}" /></a>
                    <a href="#"><img src="{{ url_for('static', filename='image/Social icon (1).svg') }}" /></a>
                </div>
            </div>
        </div>
        <div class="col-md-3  wow fadeInUp" data-wow-delay="0.4s">
            <div style="display: grid;justify-content: center;text-align: center;background-color:#F9FAFB;border-radius: 15px;min-height: 250px;">
                <img src="{{ url_for('static', filename='image/Avatar.png') }}" style="width: 60px;margin: auto;"/>
                <b style="color:#101828;font-weight: 500;">Olivia Rhye</b>
                <span style="color:#6941C6;font-size:15px">Founder & CEO</span>
                <span style="color:#667085;font-size:14px">Former co-founder of Opendoor. Early staff at Spotify and Clearbit.</span>
                <br>
                <div class="grouper">
                    <a href="#"><img src="{{ url_for('static', filename='image/Social icon.svg') }}" /></a>
                    <a href="#"><img src="{{ url_for('static', filename='image/Social icon (2).svg') }}" /></a>
                    <a href="#"><img src="{{ url_for('static', filename='image/Social icon (1).svg') }}" /></a>
                </div>
            </div>
        </div>
        <div class="col-md-3  wow fadeInUp" data-wow-delay="0.1s">
            <div style="display: grid;justify-content: center;text-align: center;background-color:#F9FAFB;border-radius: 15px;min-height: 250px;">
                <img src="{{ url_for('static', filename='image/Avatar.png') }}" style="width: 60px;margin: auto;"/>
                <b style="color:#101828;font-weight: 500;">Olivia Rhye</b>
                <span style="color:#6941C6;font-size:15px">Founder & CEO</span>
                <span style="color:#667085;font-size:14px">Former co-founder of Opendoor. Early staff at Spotify and Clearbit.</span>
                <br>
                <div class="grouper">
                    <a href="#"><img src="{{ url_for('static', filename='image/Social icon.svg') }}" /></a>
                    <a href="#"><img src="{{ url_for('static', filename='image/Social icon (2).svg') }}" /></a>
                    <a href="#"><img src="{{ url_for('static', filename='image/Social icon (1).svg') }}" /></a>
                </div>
            </div>
        </div>
        <div class="col-md-3  wow fadeInUp" data-wow-delay="0.2s">
            <div style="display: grid;justify-content: center;text-align: center;background-color:#F9FAFB;border-radius: 15px;min-height: 250px;">
                <img src="{{ url_for('static', filename='image/Avatar.png') }}" style="width: 60px;margin: auto;"/>
                <b style="color:#101828;font-weight: 500;">Olivia Rhye</b>
                <span style="color:#6941C6;font-size:15px">Founder & CEO</span>
                <span style="color:#667085;font-size:14px">Former co-founder of Opendoor. Early staff at Spotify and Clearbit.</span>
                <br>
                <div class="grouper">
                    <a href="#"><img src="{{ url_for('static', filename='image/Social icon.svg') }}" /></a>
                    <a href="#"><img src="{{ url_for('static', filename='image/Social icon (2).svg') }}" /></a>
                    <a href="#"><img src="{{ url_for('static', filename='image/Social icon (1).svg') }}" /></a>
                </div>
            </div>
        </div>
        <div class="col-md-3  wow fadeInUp" data-wow-delay="0.3s">
            <div style="display: grid;justify-content: center;text-align: center;background-color:#F9FAFB;border-radius: 15px;min-height: 250px;">
                <img src="{{ url_for('static', filename='image/Avatar.png') }}" style="width: 60px;margin: auto;"/>
                <b style="color:#101828;font-weight: 500;">Olivia Rhye</b>
                <span style="color:#6941C6;font-size:15px">Founder & CEO</span>
                <span style="color:#667085;font-size:14px">Former co-founder of Opendoor. Early staff at Spotify and Clearbit.</span>
                <br>
                <div class="grouper">
                    <a href="#"><img src="{{ url_for('static', filename='image/Social icon.svg') }}" /></a>
                    <a href="#"><img src="{{ url_for('static', filename='image/Social icon (2).svg') }}" /></a>
                    <a href="#"><img src="{{ url_for('static', filename='image/Social icon (1).svg') }}" /></a>
                </div>
            </div>
        </div>
        <div class="col-md-3  wow fadeInUp" data-wow-delay="0.4s">
            <div style="display: grid;justify-content: center;text-align: center;background-color:#F9FAFB;border-radius: 15px;min-height: 250px;">
                <img src="{{ url_for('static', filename='image/Avatar.png') }}" style="width: 60px;margin: auto;"/>
                <b style="color:#101828;font-weight: 500;">Olivia Rhye</b>
                <span style="color:#6941C6;font-size:15px">Founder & CEO</span>
                <span style="color:#667085;font-size:14px">Former co-founder of Opendoor. Early staff at Spotify and Clearbit.</span>
                <br>
                <div class="grouper">
                    <a href="#"><img src="{{ url_for('static', filename='image/Social icon.svg') }}" /></a>
                    <a href="#"><img src="{{ url_for('static', filename='image/Social icon (2).svg') }}" /></a>
                    <a href="#"><img src="{{ url_for('static', filename='image/Social icon (1).svg') }}" /></a>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script>
    $('.nava b').click(function(){
        $('.nava b').removeClass('active');
        $(this).addClass('active');
        $('.bimbo').toggleClass('jj');
    })
</script>

{% endblock %}