{% extends 'layout.html' %}
{% block container %}
<style>
    .product {
    font-weight: 500;
    color: #FDB33F;
    }
    #overview .nava {
    width: 217px;background-color: #fdb33f;
    box-shadow: 1px 2px 4px rgb(0 0 0 / 12%);
    }
.nava .active {
    box-shadow: none !important;
}.card-img-top {
    padding: 6px;
}.card-text{
  text-align: left;
  margin-bottom: 6px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
font-size: 18px;
color: #101828;
}.card-text + span{
  font-weight: 400;
font-size: 14px;
line-height: 21px;
color: #667085;
text-align:left;
display: block;
}
</style>
<div class="row container-fluid ikea" id="about" style="align-items: center;margin: auto;text-align: center;padding-top: 45px;    background: #F5FAFF;backdrop-filter: blur(111.111px);padding-bottom: 35px;">
  <h2>Mineral Products</h2>
  <span style="margin-bottom: 15px;">We facilitate the supply of a broad range of mineral products to over 54+ countries around the world.</span>
  <li>
    <form style="position: relative;width: 235px;margin:auto;">
      <input type="input" placeholder="Search..." style="padding-left: 30px;color: #787a7e;top: 47%;"/>
      <icon class="icon-search" style="position: absolute;left: 10px;top: 50%;" />
  </form>
</li>
</div>
<br>
<div class="row container" id="overview" style="align-items: center;margin: auto;text-align: center;">
    
    <div id="mining"></div>
    <br>
    <br>
    <br>
    <div class="row bimbo">
        <a href="/product/lithium" class="card col-md-4 col-sm-12 col-lg-3 wow fadeInUp" data-wow-delay="0.1s">
            <img src="{{ url_for('static', filename='image/litium.jpg') }}" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Lithium Ore. <img src="{{ url_for('static', filename='image/icon-arrow.png') }}" /></p>
              <span>
                Linear helps streamline software projects, sprints, tasks, and bug tracking. Here’s how to get started.
              </span>
            </div>
        </a>
        <a href="/product/mica" class="card col-md-4 col-sm-12 col-lg-3 wow fadeInUp" data-wow-delay="0.3s">
            <img src="{{ url_for('static', filename='image/lepidolite.jpg') }}" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Muscovite Mica. <img src="{{ url_for('static', filename='image/icon-arrow.png') }}" /></p>
              <span>
                Linear helps streamline software projects, sprints, tasks, and bug tracking. Here’s how to get started.
              </span>
            </div>
        </a>
        <a href="/product/lead" class="card col-md-4 col-sm-12 col-lg-3 wow fadeInUp" data-wow-delay="0.4s">
            <img src="{{ url_for('static', filename='image/Lead-Ore.jpg') }}" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Lead ore. <img src="{{ url_for('static', filename='image/icon-arrow.png') }}" /></p>
              <span>
                Linear helps streamline software projects, sprints, tasks, and bug tracking. Here’s how to get started.
              </span>
            </div>
        </a>
        <a href="/product/copper" class="card col-md-4 col-sm-12 col-lg-3 wow fadeInUp" data-wow-delay="0.1s">
            <img src="{{ url_for('static', filename='image/copper_ore.jpg') }}" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Copper ore. <img src="{{ url_for('static', filename='image/icon-arrow.png') }}" /></p>
              <span>
                Linear helps streamline software projects, sprints, tasks, and bug tracking. Here’s how to get started.
              </span>
            </div>
        </a>
        <a href="/product/zinc" class="card col-md-4 col-sm-12 col-lg-3 wow fadeInUp" data-wow-delay="0.3s">
            <img src="{{ url_for('static', filename='image/zinc.jpg') }}" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Zinc Ore. <img src="{{ url_for('static', filename='image/icon-arrow.png') }}" /></p>
              <span>
                Linear helps streamline software projects, sprints, tasks, and bug tracking. Here’s how to get started.
              </span>
            </div>
        </a>
        <a href="/product/manganese" class="card col-md-4 col-sm-12 col-lg-3 wow fadeInUp" data-wow-delay="0.4s">
            <img src="{{ url_for('static', filename='image/mica.jpg') }}" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Manganese Mica. <img src="{{ url_for('static', filename='image/icon-arrow.png') }}" /></p>
              <span>
                Linear helps streamline software projects, sprints, tasks, and bug tracking. Here’s how to get started.
              </span>
            </div>
        </a>
        <a href="/product/gemstones" class="card col-md-4 col-sm-12 col-lg-3 wow fadeInUp" data-wow-delay="0.4s">
            <img src="{{ url_for('static', filename='image/gem.jpg') }}" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Gemstones. <img src="{{ url_for('static', filename='image/icon-arrow.png') }}" /></p>
              <span>
                Linear helps streamline software projects, sprints, tasks, and bug tracking. Here’s how to get started.
              </span>
            </div>
        </a>
    </div>
</div>
<br><br>
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script>
    $('.nava b').click(function(){
        $('.nava b').removeClass('active');
        $(this).addClass('active');
        $('.bimbo').toggleClass('jj');
    })
</script>

{% endblock %}