{% extends 'layout.html' %}
{% block container %}
<style>
    label{
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: #344054;
    }
</style>
<div class="row container ikea" id="about" style="align-items: center;margin: auto;text-align: center;padding-top: 25px;">
    <small>CONTACT US</small>
    <h2>You Too Can Invest With Us Per Export Transaction</h2>
    <span style="margin-bottom: 15px;color:#667085;font-weight: 400;">Please fill in the KYC form below and we will be in touch to discuss your investment</span>
</div>
<br>

<div class="row container" style="margin: auto;">
    <form class="col-md-6" style="margin: auto;margin-bottom: 30px;">
        <div class="row">
            <div class="col-sm-6">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">First Name</label>
                    <input type="text" class="form-control" id="exampleInputName" placeholder="First Name">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Last Name</label>
                    <input type="text" class="form-control" id="exampleInputName" placeholder="Last Name">
                </div>
            </div>
        </div>
        
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Phone Number</label>
          <input type="text" class="form-control" id="exampleInputPassword" placeholder="+234 800 000-0000">
        </div>
        <div class="mb-3">
            <label for="businessName" class="form-label">Business Name</label>
            <input type="text" class="form-control" id="businessName" placeholder="Business Name">
        </div>
        <div class="mb-3">
            <label for="website" class="form-label">Your Website</label>
            <input type="text" class="form-control" id="website" placeholder="Website (if any)">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email Address">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
          </div>
          <div class="mb-3">
            <label for="office_address" class="form-label">Office Address</label>
            <input type="text" class="form-control" id="office_address" placeholder="Office address">
        </div>
        <div class="mb-3">
            <label for="message1" class="form-label">Why do you want to invest in export transactions with Crosswater Project ?</label>
            <textarea style="min-height: 200px;" class="form-control" id="message1"> </textarea>
          </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">You agree to our friendly privacy policy.</label>
        </div>
        <button type="submit" class="btn" style="background-color: #FDB33F;display: flex;width: 100%;color: white;font-size: 14px;justify-content: center;">Submit</button>
      </form>
      <br>
</div>

<div class="row container" style="padding:30px 10px;">
    <div class="col-sm-1"></div>
    <div class="col-sm-4">
        <small class="bhin">Our Location</small>
        <h1 class="jji">Visit Our Office</h1>
        <span class="kkik">Find us at our location</span>
    </div>
    <div class="col-sm-3">
        <b class="nhih">Nigeria</b><br>
        <span class="kkik">12th Floor Reinsurance Building Marina, Lagos Island,Nigeria</span>
    </div>
</div>
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script>
    $('.nava b').click(function(){
        $('.nava b').removeClass('active');
        $(this).addClass('active');
        $('.bimbo').toggleClass('jj');
    })
</script>

{% endblock %}