<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="We import and export petroleum products, mineral products, and agricultural products in Nigeria. We are the leading commodity trading company in Nigeria.">
  <link rel="canonical" href="http://globexia.com/">
  <meta property="og:locale" content="en_US">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Oil &amp; Gas, Solid Minerals, &amp; Agriculture Commodity Trading - Globexia">
  <meta property="og:description" content="We import and export  agricultural products in Nigeria. We are the leading commodity trading company in Nigeria.">
  <meta property="og:url" content="http://globexia.com/">
  <meta property="og:site_name" content="Globexia Limited">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:description" content="We import and export  agricultural products in Nigeria. We are the leading commodity trading company in Nigeria.">
  <meta name="twitter:title" content="Oil &amp; Gas, Solid Minerals, &amp; Agriculture Commodity Trading - Globexia">
    <meta property="og:image" content="{{ url_for('static', filename='image/logo.png') }}">
    <meta property="og:locale" content="en_NG">
    <meta property="fb:app_id" content="728795990650684">
    <meta property="fb:pages" content="291297097615087">
    <link rel="icon" href="{{ url_for('static', filename='image/logo.png') }}" />
    <meta name="theme-color" content="#25a8ed">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" >
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animate/animate.min.css') }}" type="text/css" >
    <link rel="preload" href="{{ url_for('static', filename='fonts/OpenSans-Regular.ttf') }}" as='font' crossorigin='anonymous'>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts/icomoon/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <title>Oil &amp; Gas, Solid Minerals, &amp; Agriculture Commodity Trading - Globexia</title>
</head>
<body>
 <!-- Spinner Start -->
 <div id="spinner" style="z-index: 99999999;" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
  <div class="spinner-border " style="width: 3rem; height: 3rem;color:#FDB33F;" role="status">
      
  </div>
</div>
<nav style="display: flex;"> 
  <a href="/" ><img src="{{ url_for('static', filename='image/HORIZONTAL LOGO LOCKUP TRANSPARENT-01 1.png') }}" /> </a>
  
  <div class="navigation">
    <a href="/" class="active"> Home </a>
    <a href="/about" > About </a>
    <a href="/product" > Product </a>
    <a href="/contact" > Contact </a>
    <a href="/form" > <span class="nav-body"> Send A Request </span></a>
    <a href="#"><i class="icon-search" ></i></a>
  </div>
  <i class="icon-menu" style="font-size: 20px;color: #FDB33F;"></i>
  <div class="navigation2">
    <a href="/" class="active"> Home </a>
    <a href="/about" > About </a>
    <a href="/product" > Product </a>
    <a href="/contact" > Contact </a>
    <a href="/form" > <span class="nav-body"> Send A Request </span></a>
    <a href="#"><i class="icon-search" ></i></a>
  </div>
</nav>
<!-- Spinner End -->
{% block container %}

{% endblock %}


   
<footer class="container-fluid" style="min-height: 270px;width: 100%;background-color: #14365A;color:white;padding-top: 40px;">
    <div class="row no-margin" style="padding:10px">
        <div class="col-sm-6 col-md-3">
            <div class="footer-body">
              <img src="{{ url_for('static', filename='image/image.png')}}" style="width: 170px;height: 80px;"/>
              <span> We import and export petroleum products, mineral products, and agricultural products in Nigeria. We are the leading commodity trading company in Nigeria.</span>
              <div>
               <a href="www.instagram.com"> <i class="icon-instagram" ></i> </a>
               <a href="www.twitter.com"> <i class="icon-twitter" ></i></a>
               <a href="www.linkeldn.com"> <i class="icon-linkedin" ></i></a>
               <a href="www.facebook.com">  <i class="icon-facebook" ></i></a>
              </div> 
            </div>
        </div>
        <div class="col-sm-6 col-md-2">
            <ul>
              <li> <b> Company  </b> </li>
              <li> <a href="#"> About</a> </li>
              <li> <a href="#"> Mission</a> </li>
              <li> <a href="#"> Vision</a> </li>
              <li> <a href="#"> Career</a> </li>
            </ul>
        </div>
        <div class="col-sm-6 col-md-2">
            <ul>
              <li> <b> Product </b> </li>
              <li> <a href="#"> Agricultural commodities </a> </li>
              <li> <a href="#"> Mining</a> </li>
              <li> <a href="#"> Trade</a> </li>
            </ul>
        </div>
        <div class="col-sm-6 col-md-2">
            <ul>
              <li> <b> Help & Support </b> </li>
              <li> <a href="#"> Report Bug</a> </li>
              <li> <a href="#"> Share Feedback</a> </li>
              <li> <a href="#"> Contact Support</a> </li>
            </ul>
        </div>
        <div class="col-sm-6 col-md-3">
            <ul>
              <li> <a href="#"> Subscribe to our Newsletter </a> </li>
              <li> 
                <form style="position:relative">
                  <i class="icon-envelope"></i>
                  <input type="input" placeholder="Enter Email Address"/>
                  <button>Get Started</button> 
                </form>
                </li>
            </ul>
        </div>
    </div>
    <hr style="border-top: 1px solid #435976;"/>
  <small style="color:#a8aeba;text-align:center;font-size:12;line-height:1.1;display:block;padding:9px;">Copyright © 2022. Crosswater Project All rights reserved | Privacy policy | Refund and Cancellation Policy | Terms of Use | Cookies | Sitemap</small>
</footer>  

</body>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}" ></script>
<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}" ></script>
<script src="{{ url_for('static', filename='js/wow/wow.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/wow/main.js') }}"></script>

<script>
    $('.icon-search').click(function(){
          $(this).parent('form').submit();
    });
    $('.icon-menu').click(function(){
          $(this).next().slideToggle('slow');
          $(this).next().css('display','grid')

    });
    	// Preloader
  $(window).on('load', function() {
    if ($('#spinner').length) {
      $('#spinner').delay(100).fadeOut('slow', function() {
        $(this).remove();
      });
    }
  });
</script>
</html>
