body{
  background-color: #f3f1f1;
}
@media all and (max-width: 1400px){
              .icon-th-list{
                display: block;
              }
            }
            .main-section {
              width: calc(100% - 250px);
          }
          .left-wrapper ul li a {
              color: #666;
              border: none;
              display: block;
              font-size: 12px;
              text-decoration: none;
              cursor: default;
              z-index: initial !important;
              position: static !important;
          }
          .left-wrapper ul li a {
              font-family: 'Open Sans Regular';
              width: 100%;
              display: flex;
              justify-content: end;
          }
          .hover-side_bar{position: relative;height: 47px;padding-top: 13px;}.hover-side_bar .flex-container{position: absolute;margin-left: -150px;margin-top: 10px;z-index: 999;display: none;} .hover-side_bar:hover > .flex-container{display: block;}.div .hover-side_bar .flex-container  ul li {width: 100% !important;padding: 0px !important;display: block !important;cursor: pointer;}.hover-side_bar .leftHead {padding-top: 12px;margin-bottom: 5px;}.hover-side_bar .leftHead:hover {background-color: transparent !important;}.hover-side_bar .side-bar-container ul li.navlink:hover, .hover-side_bar #topSearches li:hover {background-color: #fafafa !important;}.hover-side_bar #topSearches i {margin-top: 0px;}
          .left-wrapper{
              min-height: 170px;width: 240px !important;box-shadow: 0 4px 17px 0 rgba(0,0,0,0.1);min-height: 573px;background-color: #fff;border-radius: 3px;display: block;padding: 17px;
          }
          .icon-th-list{
              font-weight: bolder;font-size: 110%;margin-right: 10px;margin-left: 5px;cursor: pointer;display: contents;
          }
          .mobile-view, .mobile-view + div{
              display: none;
          }
          @media all and (max-width: 800px){
              .mobile-view, .mobile-view + div{
                  display: block;
              }
          }
          #bigNav + .carousel-body{
              display: none;
          }
          @media (max-width: 800px){
              .main-section {
                  width: calc(100%);
              }
              .left-wrapper{
                  display: none !important;
              }
              .icon-th-list{
                  display: none;
              }
              .category-container{
                  display: none;
              }
              .mobile-view{
                  display: block;
              }
              .topper{
                  display: none;
              }
              #bigNav + .carousel-body{
                  display: block;
              }
          }
            .topper{
              padding-top: 20px;
              padding-right: 5%;
              padding-left: 5%;
            }
            @media all and (max-width: 1200px){
              .topper{
                padding-right: 3%;
                padding-left: 3%;
              }
            }
            @media all and (max-width: 1000px){
              .topper{
                padding-right: 2%;
                padding-left: 2%;
              }
            }
            i{
              cursor: pointer !important;
            }
            .hover-image{
              width: 370px;
              margin-left: 15px;
              display: flex;
              justify-content: space-around;
            }
            .hover-image img{
              width: 45px;
              height: 50px;
              margin-right: 20px;
              border: 1px solid #ccc;
              cursor: pointer;
            }
            .rower{
              display: flex;
            }
            .product-view{
              width: 480px;
            }
            .details-view{
              background-color: white;
            }
            .flex{
              display: flex;width: 100%;justify-content: space-around;
            }
            .button-adds-up{
              width: 100%;display: flex;margin-top: 25px;
            }
            .product-title-text {
            font-size: 14px;
            line-height: 19px;
            margin: 0;
            width: -webkit-fit-content;
            width: -moz-fit-content;
              width: fit-content;
              color: #222;
              font-weight: 500;
              margin-bottom: 7px;
          }
            .button-adds{
              width: 100%;display: flex;justify-content: space-between;margin-top: 5px;align-items:center;
            }
            .button-adds-up button{padding: 5px 25px;background-color: #007bff;color: white;font-weight: 500;font-size: 100%;
            }
            .nav-tabs-phase .nav-link.active{
             color: #007bff !important;
             font-weight: 600;
            }
            .paginating{
             font-size: 80%;
             color: #bbbab9;
             font-weight: 500;
            }
            .paginating i{
             margin-right: 4px;
            }
            .paginating a:hover{
             text-decoration: underline !important;
            }
            .offers li dfn{
             font-weight: 500;
             font-size: 90%;
             font-style: normal;
            }
            .offers li i{
             color: green;margin-right: 5px;
            }
            .offers li a {
             font-weight: 500;
             font-size: 90%;
             color: #007bff !important;
            }
             .view-more, .view-less{
              font-weight: 700;
              font-size: 90%;
              cursor: pointer;
              color: #007bff !important;
             }
             .li{
               display: none;
             }
             .view-more:hover, .view-less:hover{
              text-decoration: underline;
             }
             .offers li span{
              font-size: 85%;
              font-weight:bold;
              color: grey;
             }
             .contents_det{
              font-size: 87%;
              font-weight: 400;
          
             }
             .contents_det ul li {
              display: flex;
              justify-content: space-between;
             }
             .contents_det ul li span:first-child{
              color:#423a3a !important;
              font-weight: 500;
             }
            .contents_det ul li span:last-child{
              color: grey !important;
              font-weight: 600;
             }
             .contents_det .table th, .contents_det .table td{
              padding: .15rem !important;
              color: grey !important;
            }
            #demo {
              display: none;
            }
            .offers li{
              margin-bottom: 3px;
            }
            .reviews-flex{
              display: flex;
            }
            @media  all and (max-width: 1200px){
          
              .col-sm-7{
                max-width: 100% !important;
              }
              #demo {
                display: none;
              }
              .button-adds-up button {
              padding: 10px 50px;
              padding-bottom: 30px;
              border-radius: 0px;
            }
              #bigNav2{
                display: none;
              }
              #bigNav{
                height: 0px;
              }
            }
            @media  all and (max-width: 990px){
               .reviews-flex{
                  display: grid;
                }
            }
            @media  all and (max-width: 900px){
              .rower{
                display:block;
              }
              #demo {
                display:block;
              }
              .sizecolor{
                display: block;
              }
              .details-view {
              width: calc(100%);
              margin-left: 0px;
              }
          
              .reviews-flex{
                  display: flex;
                }
              .product-view{
                display: none;
              }
            }
          @media  all and (max-width: 500px){
            .reviews-flex{
              display: grid;
            }
          }
            @media all and (max-width: 800px){
              .carousel-inner img {
                height:auto;
              }
            }
            .img-zoom-container {
              position: relative;
            }
          
          .img-zoom-lens {
            position: absolute;
            border: 1px solid #d4d4d4;
            /*set the size of the lens:*/
            width: 40px;
            height: 40px;
          }
          
          .img-zoom-result {
            border: 1px solid #d4d4d4;
            width: 900px;
            height: 700px;
            z-index: 99999;
            position: fixed;
            top: 0%;
            left: 500px;
            right: 50%;
          }
          #myimage:hover {
            display: block;
          }
          .row > .column {
            padding: 0 2px;
          }
          
          .row:after {
            content: "";
            display: table;
            clear: both;
          }
          
          .column{float:left;width: 70px;height: 65px;display: inline-block;}
          .modaling {display: none;position: fixed;z-index: 99999999999;align-items: center;align-content: center;left: 0;top: 0;width: 100%;height: 100%;overflow: hidden;background-color: black;}
          .rate{padding: 7px 15px;border-radius: 5px;font-weight: 400;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 1px 10px 0 rgba(0, 0, 0, 0.19);border-color: #c2c3c3 !important;}
          
          
          .rate:hover{
            font-weight: 600;
            color: white !important;
          }
          .modal-content {
            position: relative;
            background-color: transparent !important;
            margin: auto;
            padding: 0;
            width: 80%;
            height: 91vh;
            max-width: 1200px;
          }
          
          .close {color: white;position: absolute;top: 70px;right: 25px;font-size: 35px;font-weight: bold;}
          .close:hover,
          .close:focus {
            color: #999;
            text-decoration: none;
            cursor: pointer;
          }
          
          .mySlides {display: none;background-color: white;height: 550px !important;align-items:center;}
          .mySlides img{
            width: 50%;
          }
          @media all and (max-width: 750px){
            .mySlides img{
              width: 100%;
            }
            .mySlides img + div{
              display: none;
            }
          }
          .cursor {
            cursor: pointer;
          }.product-view .flex{
            background-color: #3f4871;
            height: 500px;
          }
          .prev,
          .next {cursor: pointer;position: absolute;top: 50%;width: auto;padding: 16px;margin-top: -50px;color: white;font-weight: bold;font-size: 20px;transition: 0.6s ease;border-radius: 0 3px 3px 0;user-select: none;-webkit-user-select: none;}
          .next {right:0;border-radius: 3px 0 0 3px;}
          .prev:hover,
          .next:hover {background-color: rgba(0, 0, 0, 0.8);}
          .column{margin-right: 10px;}
          .demo{padding: 20px 0;height: 100px;}
          .numbertext {color: #f2f2f2;font-size: 12px;padding: 8px 12px;position: absolute;top: 0;}
          .caption-container {display: none;}
          .demo {opacity: 0.6;}
          .active, .demo:hover {opacity: 1;}
          .img.hover-shadow {transition: 0.3s;}
          .row {padding-left: 10px;}
          .row > .column > img{width: 100%;height: 70px !important;border: 3px solid #f1f1f1;padding: 2px;}
          .hover-shadow:hover {box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),0 6px 20px 0 rgba(0, 0, 0, 0.19);}
          @media all and (max-width: 600px){
            .modal-body{
              border:none !important;
            }
            #overview{
              padding-left: 5px !important;
              padding-right: 5px !important;
            }
          }
          .img-zoom-container {
              position: relative;
              display: grid;
              height: 450px;
              justify-content: center;

          }
          .discount-info{
            font-size: 12px;
            padding-bottom: 25px;
            display: block;
          }
          .body-flow{
            display: block;
          }
          .quantity {
            display: flex;
          }
          .quantity span{
            width: 23px;
            height: 23px;
            border-radius: 50%;
            background-color: rgb(194, 194, 194);
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 17px;
            cursor: pointer;
            color: #3f4871;
          }
          .quantity span:hover{
            font-weight: bold;
          }
          .quantity span i{
            font-weight: 100;
          }
          .button-adds-up button{
                  padding: 0 24px;
                  min-width: 165px;
                  background-image: linear-gradient(213deg,#25a8ed 7%,#16455b 92%);
                  color:white;
          }
          .color button{
            margin-bottom: 10px;
          }
